nav button {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
    color: white;
}

nav button:hover {
    text-decoration: underline dashed;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 168, 175);
    padding: 16px;
}