.card > img {
    width: 100%;
}

.cards {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(5, 128px);
    justify-content: center;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}